name: SonarCloud Backend Analysis

on:
  push:
    branches:
      - main

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build & Test
        run: mvn clean verify

      - name: SonarCloud Scan
        run: mvn sonar:sonar \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.projectKey=Ravikanth1407_devops-project-backend \
          -Dsonar.organization=ravikanth14 \
          -Dsonar.java.binaries=target/classes \
          -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml \
          -Dsonar.token=${{ secrets.SONAR_TOKEN }}
